.app{
    text-align: center;
    height: 100vh;
}

.appHeader{
    font-size: xx-large;
    background: black;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gameTitle{
    margin: 5px;
    padding: 5px;
    text-align: center;
    color: #C0C0C0;
    border: darkgrey solid 2px;
    border-radius: 10px;
}

.mainApp{
    height: calc(100vh - 60px);
    display: flex;
    /* background-image: url("/Wallpapers/house.jpg");*/
   background-position: center center;
    background-size: cover;
    justify-content: flex-start;
    align-items: center;

}